* {
    padding: 0;
    margin: 0;
}

body {
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("image/image5.jpg");
    background-size:cover;
}

button {
    outline: none;
    cursor: pointer;
}

#addTodoListDiv {
    margin-left: 2em;
    margin-top: 4em;
}

#addTodoListDiv button {
    margin-left: 0.5rem;
}

#root {
    margin: 1em;
    min-width: 1200px;
}

body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.list{
    width: 80%;
    display: flex;
    justify-content: space-around;
    
 
    /* align-items: center; */
}
.list div{
    background-color: white;
    text-align: center;
    align-items: center;
    /* justify-content: space-between; */
    min-width: 10vw;
    margin: 10px;
}
.addList{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.list{
    display: flex;
    flex-direction: row-reverse;
}
.addList{
    order: -1;
} 
.addList input{
    width: 10vw;
}
.addCard{
    width: 6vw;
    border: 1px solid black;
}
.addCard input{
    width: 8vw;

}
.addCard button{
    width: 8vw;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}