.Navbar{
    background-color: #345ea5;
}
body{
    color: white;
    gap:20px;
}

.bento{
    padding-left: 10px;
    padding-bottom: 4px;
    
  
}
a:link {
    text-decoration: none;
}
.bento>img{
    height: 2vh;
}
img:hover{
    opacity: 0.9;
}
.info{
    height: 4vh;
    width: 4vh;
    background: white; opacity: 0.25;
    margin-right: 1px;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    
}
.info>img{
    padding-top: 4.5px;
    height: 3vh;
}
.bell{ 
    height: 4vh;
    width: 4vh;
    background: rgb(231, 53, 53);
    margin-left: 2px;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    
}

.bell>i{
    padding-top: 6px;
}
.p{ 
    height: 4vh;
    width: 4vh;
    background: rgb(231, 53, 53);
    margin-left: 2px;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    
}

.newboard{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.boardCollection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.boardCollection p{
    font-size: 16px;
    font-weight: 700;
}
.boardCollection img{
    border-radius: 4px;
}

.nevboard{
    display: flex;
    justify-content: space-around;
   
}
.personalImage{
    display: flex;
    justify-content: center;
    
    background-color: brown;
    width: 25px;
    height: 30px;
    border-radius: 2px;;
}
.personal{
    color: black;
    margin-left: 10px;;
    display: flex;
    width: 18vh;
    justify-content: space-around;
}
.boards{
    margin-top: 5px;;
    display: flex;
    flex-direction: column;
    
    min-width: 40vw;
    max-width: 40vw;
}
.createBoard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* align-self: center; */
    width: 20vh; 
    height: 12vh;
    background-color: #091e420a;
    color: #172b4d;
    border-radius: 4px;
    box-shadow: cornsilk;
    margin-bottom: 10px;;
}


.boards>img{
    border-radius: 2px;
    min-width: 20vh;
}
.leftNevbar{
    margin-top: 10px;
    display: flex;
    max-width: 60vw;
   
    justify-content: space-around;
    align-self: center;
    
    
}
.list ul li img{
    width: 20px;
    height: 16px;;

} 
.board{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal-content{
    max-width: 35.5vw;
    flex-direction: row;
    color: greenyellow;
    background-color: unset;
    border: unset;
  
    flex-wrap: wrap;

}
.modal-top{
    width: 30%;
    height: 20%;
}
.color{
    height: 15vh;
    width: 15vh;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.image1>img,.image2>img,.image3>img,.image4>img,.image5>img,.image6>img{
    height: 4vh;
    width: 4vh;
}
.input{
    display: flex;
    max-width: 60%;
    align-self: center ;
    
    opacity: 10px;
}

